#after-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  #color-overlay {
    #after-login-links-container {
      position: relative;
      margin-top: 100px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 600px;
      background-color: white;
      box-shadow: 0 5px 7px 2px #3a3a3a;

      .after-login-link,
      .after-login-link:visited,
      .after-login-link:hover,
      .after-login-link:active {
        text-decoration: none;
        border-radius: 1.6em;
        border: none;
        background-color: #378ae2;
        margin: 0.9em;
        padding: 0.9em 3.4em;
        color: white;
        font-size: 0.8em;
        font-weight: bold;
      }
    }
  }

  #color-overlay::before {
    position: absolute;
    z-index: 2;
    content: '';
    background-color: rgb(38, 192, 38);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
  }
}

#after-login::before {
  position: absolute;
  z-index: 1;
  content: '';
  background-image: url('https://www.theglobeandmail.com/resizer/1XsjX2j2TyYZxW4xzSfyOxWakb4=/2500x0/filters:quality(80)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/RXH4DSVMIJETVL6IUI4W5A6TNM.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}
