#after-login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .after-login-link,
  .after-login-link:visited,
  .after-login-link:hover,
  .after-login-link:active {
    text-decoration: none;
    width: 60px;
    border-radius: 1.6em;
    border: none;
    background-color: #378ae2;
    margin: 0.9em;
    padding: 0.9em 3.4em;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
  }
}
