.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;

    form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin-top: 1rem;

        label {
          font-size: 1.7rem;
        }

        input {
          font-size: 1.5rem;
          outline: none;

          &:focus {
            outline: none;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 0 white;
            transition: background-color 5000s ease-in-out 0s;
          }
        }
      }

      .sign-up-button {
        margin-top: 20px;
      }
    }
  }
}
