@import '../../styles/variables.scss';

.Title {
  color: $primary-text-color;

  h1 {
    display: flex;
    justify-content: center;
  }

  h2 {
    margin: 0;
    font-size: 32px;
  }

  .App {
    text-align: center;
    display: flex;
    justify-content: center;
    .login {
      width: 500px;
      height: 780px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      position: relative;
      z-index: 99;

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        box-shadow: 0px 0px 5px 2px rgba(15, 15, 15, 0.2);
        border-radius: 20px;
        position: relative;
        z-index: 99;
        width: 100%;
        height: 100%;
      }
      .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
        background-color: $accent-color;
        width: 100%;
        position: absolute;
        right: -34%;
        border-radius: 20px;
        z-index: 1;
        transition: all 400ms ease-in-out;
        cursor: pointer;
        box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

        &.right {
          right: -45%;
          align-items: flex-end;
          &:hover {
            right: -50%;
          }
        }
        &.left {
          right: 45%;
          align-items: flex-start;
          &:hover {
            right: 50%;
          }
        }
        .option {
          font-size: 1.5rem;
          color: #fff;
          border-color: #fff;
          text-shadow: #000 0px 0px 3px;
          margin-right: 3em;
          margin-left: 3em;
        }
      }
    }
  }
}
