@import '../styles/variables.scss';

#background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;

  #color-overlay::before {
    position: absolute;
    z-index: -9;
    content: '';
    background-color: $primary-color-background;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    position: fixed;
    overflow-y: scroll;
  }
}

#background::before {
  position: absolute;
  z-index: -10;
  content: '';
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url('../styles/1.png');
  background-position-y: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  position: fixed;
  overflow-y: scroll;
  overflow: hidden;
}
