@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.button {
  padding: 0.8em 3.1em;
  text-decoration: none;
  color: black;
  background-color: $primary-color;
  background-image: $background-texture;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0.8em;

  &:hover {
    background-color: $accent-color-dark;
    color: white;
  }

  &:focus {
    outline: none;
  }
}

#cancel {
  background-color: $danger-color;
}
#cancel:hover {
  background-color: #AD3B3B;
}
