@import '../styles/variables.scss';

#nav-section {
  z-index: 4;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

  .logo {
    font-family: $font-logo;
    font-size: 50px;
    font-weight: 900;
  }

  .logo-red {
    color: $accent-color-dark;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }

  .nav-right {
    position: absolute;
    right: 70px;

    a {
      font-size: 28px;
      padding: 5px 10px;
      border: 3px solid black;
      border-radius: 0.3em;
    }
  }
}
