@import '../styles/variables.scss';

#nav-section {
  z-index: 4;
  position: absolute;
  padding: 15px 0 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;

  .link-disabled {
    cursor: default;
  }

  .logo {
    font-family: $font-logo;
    font-size: 50px;
    font-weight: 900;
    padding: 5px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      margin-right: 10px;
      filter: invert(63%) sepia(13%) saturate(839%) hue-rotate(147deg) brightness(86%) contrast(88%);
    }
  }

  .logo-accent {
    color: $accent-color;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }

  #nav-left {
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    font-size: 2rem;
    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #666666;
    #nav-logged-in {
      display: flex;
    }
    #weather {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.5rem;
      text-shadow: none;
      color: white;
    }
    
  }

  #nav-right {
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;

    a {
      font-size: 24px;
      margin-left: 30px;
      padding: 5px 10px;
      color: #666666;
      border-bottom: 2px solid #666666 ;
    }
    a:hover {
      color: black;
      border-bottom: none;
    }
  }
}
