@import '../styles/variables.scss';

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
  margin: auto;

  .logo {
    font-family: $font-logo;
    font-size: 28px;
    font-weight: 900;
  }

  .logo-red {
    color: red;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    font-weight: 500;
    text-decoration: none;
    color: inherit;
  }

  .nav-right {
    a {
      margin-left: 20px;
    }
  }
}
